{% extends 'base.html' %}
{% block con %}
<div class="p-5 mb-4 bg-light rounded-3">
    <div class="container-fluid py-5">
        {% if user.is_authenticated %}
            <h1 class="display-5 fw-bold">{{user.username}}님</h1>
            <p class="col-md-8 fs-4"><h3>🥰 오늘도 좋은 하루 되세요 🥰</h3></p>
        {% else %}
            <h1 class="display-5 fw-bold">은지랑 코딩 배울 사람 괌@@</h1>
            <p class="col-md-8 fs-4">뭐라고? 너 배운다고? 그럼 당장 클릭해!</p>
            <a href="{% url 'acc:login' %}"><button class="btn btn-primary btn-dark" type="button" style="background-color: rgba(128, 128, 128, 0.534); color: black; font-weight: bold;" >Login</button></a>
            <a href="{% url 'acc:signup' %}"><button class="btn btn-primary btn-dark" type="button" style="background-color: rgba(128, 128, 128, 0.534); color: black; font-weight: bold;" >Signup</button></a>
    {% endif %}
    </div>
</div>
{% endblock %}