{% extends 'base.html' %}
{% block con %}
<div class="container mt-5" style="width: 80%;">
    <h1 style="font-weight: bold;">Login</h1>
    <form method="post">
        {% csrf_token %}
        <div class="mb-3 mt-5">
            <label class="form-label" style="font-weight: bold;">Username</label>
            <input type="text" class="form-control" name="un" placeholder="Enter your ID" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label" style="font-weight: bold;">Password</label>
            <input type="password" class="form-control" name="pw" placeholder="Enter your Password" id="exampleInputPassword1">
        </div>
        <div class="text-end mt-4">
            {% load socialaccount %}
            {% providers_media_js %}
            <a href="{% provider_login_url 'google' %}"><button type="button" class="btn btn-primary btn-dark" style="background-color: gray; color: black; font-weight: bold;">Google Login</button></a>
            
            <button type="submit" class="btn btn-primary btn-dark" style="background-color: gray; color: black; font-weight: bold;">Login</button>
        </div>
    </form>
</div>
{% endblock %}
